<div class="squad-container">
    <div class="transferencia-section">
        <p>
            janela de transferência fecha em <br>
            00:00:00
        </p>
    </div>

    <div class="seu-time-section">  

        <div class="seu-time-topicos">
            <div class="topicos-left">
                <h2>SEU TIME</h2>
                <h5>alterar squad</h5>
            </div>

            <div class="topicos-right">
                <h3>0/6 JOGADORES</h3>
                <h3>PONTUAÇÃO ATUAL: 00,00</h3>
            </div>
        </div>

        <div class="cards-seu-time-section">
            <app-squads-card></app-squads-card>
            <app-squads-card></app-squads-card>
            <app-squads-card></app-squads-card>
            <app-squads-card></app-squads-card>
            <app-squads-card></app-squads-card>
            <app-squads-card></app-squads-card>
        </div>

    </div>
</div>