.container {
    width: 100%;
    height: 100%;
}

.header {
    height: 96px;
    background: #E8E8E8;
}

.main-top-div {
    height: 560px;
    background-color: aquamarine;
}

.main-mid-div {
    height: 448px;
    background-color: brown;
}

.main-last-div {
    height: 672px;
    background-color: yellow;
}

.footer {
    height: 128px;
    background-color: black;
}